.contain {
  display: flex;
}
.right-box{
  width: 100%;
  height: 99vh;
  overflow: auto;
}

.right-box::-webkit-scrollbar {
  display: none;                  /* Chrome, Safari */
}
.left-box{
  z-index: 9;
}
.showFullScreen{
  position: absolute;
}