.sidebar {
  width: 100%;
  min-height: 100vh;
  transition: width 0.3s ease;
  overflow-x: hidden;
  max-height: 100vh;
  background-color: #0d173b;
  margin-top: 3px;
  margin-left: 3px;
  padding: 1rem;
}

.collapsed{
  display: none;
}
.hidesidebar{
  display: none;
}

/* Make sidebar always visible on mobile — no transform or position absolute */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
    position: relative;
    transform: none;
  }

  .sideBarToggle{
    left: 4%;
  }
}

.sideBarToggle{
    border-color: white;
    color: white;
    position: absolute;
    top: 7.5%;
    left: 2%;
    border-radius: 50%;
}

.sidebar ul {
  padding-left: 0;
}

.sideBarMenuOptions{
    padding-top: 3vh;
}

.sidebar-link {
  height: 40px;
  gap: 8px;
}

.sidebar-link i {
  width: 24px;
  min-width: 24px;
  text-align: center;
}

.sidebar-label {
  display: inline-block;
  height: 24px;         
  line-height: 24px;       
  width: 120px;             
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: opacity 0.3s ease;
  opacity: 1;
  visibility: visible;
}

/* .sidebar-label.collapsed {
  opacity: 0;
  visibility: hidden;
} */

.btnCollapse{
  display: none;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

/* Background of the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* border-radius: 5px; */
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #0d173b;
  border: 1px solid white;
  /* border-radius: 10px; */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d173b;;
}
