<nav class="navbar navbar-expand-lg header d-flex align-items-center">
  <a class="navbar-brand" routerLink="/">{{cons.projectName}}</a>
  <!-- <button class="navbar-toggler d-lg-none headerMenuBarBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <i class="fa fa-bars headerMenuBarIcon"></i>
  </button> -->


  <div class="collapse navbar-collapse headerText" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item nav-link-separator">
        <a class="nav-link" routerLink="/java/context">Java</a>
      </li>
      <li class="nav-item nav-link-separator">
        <a class="nav-link" routerLink="/springboot/context">Spring Boot</a>
      </li>
      <li class="nav-item nav-link-separator">
        <a class="nav-link" routerLink="/angular/context">Angular</a>
      </li>   
      <li class="nav-item nav-link-separator">
        <a class="nav-link" routerLink="/java/context">Java</a>
      </li>
      <li class="nav-item nav-link-separator">
        <a class="nav-link" routerLink="/springboot/context">Spring Boot</a>
      </li>
      <li class="nav-item nav-link-separator">
        <a class="nav-link" routerLink="/angular/context">Angular</a>
      </li>    
    </ul>
  </div>
</nav>
